body {

background: #4682b4;
}


h1 {

	color: whitesmoke;
    text-align: center;
}


.image-tuby{

	position: absolute;
    text-align: left;
}

#container{

        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 120px;
        text-align: center;
    }

    #container img{
        width: 120px;
        height: 120px;
        margin-top: -60px;
        margin-bottom: ;

    }

    input{
        width: 80%;
        height: 40px;
        font-size: 18px;
        margin-bottom: 10px;
        background-color: #fff;
        padding-left: 40px;
        border: none;
        background-repeat: no-repeat;
        background-position: 10px;
    }
input.email {
    background-image: url("../img/icone-usuario.png");

}

input.senha {
    background-image: url("../img/icone-cadeado.png");

}

input.checkbox {
    background-image: url("../img/icone-cadeado.png");

}

input.submit{

    color: #fff;
    background:#2c8be2;
    border: 2px solid #2c8be2;
    padding: 5px 20px;
    height: 45px;
    width:40%;
    border-radius: 1em;
}
